<div class="container">
    <nav class="navbar sticky-top navbar-expand-lg">
        <div class="container-fluid">
            <div class="weblogo">
                <img src="img/letter-v.png" alt="" width="40px">
                <a class="navbar-brand" href="#" routerLink="/">TankerZ</a>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav mx-auto">
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Tanks</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li> 

                </ul>
            <div class="d-flex">
                <button class="btn btn-light" type="submit">Login</button>
            </div>
          </div>
        </div>
    </nav>
</div>