<app-search></app-search>
<app-tags></app-tags>
<app-not-found [visible]="!tanks || tanks.length <= 0"></app-not-found>
<ul>
    <li *ngFor="let tank of tanks">
        <a href="" routerLink="/tank/{{tank.id}}"> 
            <img src="{{tank.imageUrl}}" alt="" class="tank">
            <img src="../../assets/images/{{ tank.favorite ? 'heart' : 'unheart' }}.png" class="favorite">
            <div class="content">
                <div class="name">{{tank.name}}</div>
                <div class="tank-item-footer">
                    <div class="origin">
                        {{tank.origin}}
                    </div>
                    <div class="tags">
                        <span  *ngFor="let tags of tank.tags">
                         {{tags}}
                        </span>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/flags/{{tank.origin}}.jpg" alt="" class="bg-img">
        </a>
    </li>
</ul>
