.tags{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.tags a{
    border-radius: 25px;
    color: rgb(0, 0, 218);
    background-color: rgb(240, 240, 240);
    padding: 10px 20px;
}