.container{
    /* background-color: bisque; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}
.tank-img{
    display: flex;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.tank{
    width: 500px;
}
.bg-img{
    position: absolute;
    z-index: -1;
    bottom: 0;
    filter: blur(3px);
    opacity: 0.8;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    padding: 0 2rem;
}
.tank-name{
    display: flex;
    gap: 20px;
}
.name{
    font-size: 3rem;
    font-weight: 700;
}
.flag{
    height: 5rem;
    transform: rotate(-90deg);
}
.origin{
    font-size: 1.3rem;
    font-weight: 600;
}
.tags{
    display: flex;
    gap: 2rem;
}
.history{
    font-size: 1.2rem;
    text-align: justify;
}
.tag{
    background-color: rgb(0, 0, 218);
    color: white;
    padding: 0.5rem 1rem ;
    border-radius: 10px;
}