<app-not-found [visible]="!tank" notFoundMessage="Tank Not Found!" resetLinkText="Back to Homepage"></app-not-found>
<div class="container" *ngIf="tank">
    <div class="tank-img">
        <img [src]="tank.imageUrl" [alt]="tank.name" class="tank">
        <img src="../../assets/images/bg-img/brickwall.jpg" alt="" class="bg-img">
    </div>
    
    <div class="details">
        <div class="header">
            <div class="tank-name">
                <span class="name">
                    {{tank.name}}
                </span>
                <img src="../../assets/images/flags/{{tank.origin}}.jpg" alt="" class="flag"></div>
            </div>
        <div class="origin">Origin: 
            {{tank.origin}}
        </div>
        <div class="history">
            {{tank.history}}
        </div>
        <div class="tags">
            <span *ngFor="let tag of tank.tags" class="tag">
                {{tag}}
            </span>
        </div>
    </div>
</div>